#jinja2: trim_blocks: "true", lstrip_blocks: "true"
# {{ ansible_managed }} - created by role {{ ansible_role_name }}
{% if ssh_server_port %}
# Port from Ansible Role
Port {{ ssh_server_port }}
{% elif ansible_port %}
# Port from Ansible inventory
Port {{ ansible_port }}
{% else %}
Port 22
{% endif %}
